* h1 {
  font-family: japanese-title-font;
  color: #f2accc;
  font-weight: bold;
  font-size: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
* p,
* p1,
* p2 {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 15px;
}
* hr {
  width: 100%;
  background-color: gray;
  height: 0.3px;
  border: none;
}

body {
  background-color: white;
  height: 100%;
}

body.show-menu .header-menu {
  display: block;
}
body.show-menu .banner-right .logo-menu .menu {
  background-image: url(images/x-mark.png);
  background-repeat: no-repeat;
  background-color: white;
}
body.show-menu .banner-right .header-menu .main-menu .main-menu-title span {
  font-size: 25px;
  color: #ff1493;
}

@font-face {
  font-family: japanese-title-font;
  src: url(/fonts/tittle_font/ShipporiMincho-Medium.ttf);
  font-weight: normal;
  font-style: normal;
}
header {
  position: relative;
  display: flex;
  width: 100%;
}
header .banner-left {
  float: left;
  width: calc(100% - 350px);
  height: auto;
}
header .banner-left img {
  border-radius: 2%;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .banner-right {
  position: relative;
  width: 350px;
  height: -moz-fit-content;
  height: fit-content;
  float: left;
}
header .banner-right .logo-menu {
  display: flex;
  padding: 0px 16px;
  justify-content: space-between;
}
header .banner-right .logo-menu .logo {
  height: 35px;
}
header .banner-right .logo-menu .menu {
  cursor: pointer;
  height: 35px;
  width: 32px;
  background-repeat: no-repeat;
  background-image: url(images/menu_logo.png);
}
header .banner-right .show-img {
  position: relative;
  left: -30%;
  margin-top: 16px;
  width: 130%;
}
header .banner-right .show-img img {
  margin: 0px;
  height: 300px;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
header .banner-right .ads {
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .banner-right .ads .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 95%;
}
header .banner-right .ads .content .title {
  color: #f2accc;
  font-family: japanese-title-font;
  font-size: 40px;
  text-align: center;
}
header .banner-right .ads .content .description {
  font-family: japanese-title-font;
  font-size: 15px;
  font-style: italic;
}
header .banner-right .ads .nav-button {
  margin: 0;
  padding: 0;
}
header .banner-right .ads .nav-button li {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: 40px;
  height: 35px;
  margin-top: 10px;
  border-right: 3px solid white;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header .banner-right .ads .nav-button li:hover {
  cursor: pointer;
  background-color: whitesmoke;
  color: red;
}
header .banner-right .ads .nav-button .active {
  cursor: pointer;
  border-right: 3px solid red;
  background-color: whitesmoke;
  color: red;
}
header .header-menu {
  display: none;
  position: absolute;
  text-align: center;
  right: 0;
  top: 35px;
  height: 100%;
  width: 350px;
  background: white;
}

main {
  padding: 16px;
}

#news {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
#news .news-bar {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  #news .news-bar {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  #news .news-bar {
    width: 80%;
  }
}
#news .news-bar p {
  font-family: japanese-title-font;
}
#news .news-bar p:hover {
  color: #f2accc;
  cursor: pointer;
}
#news ul {
  padding: 0;
  margin: 8px 0px 0px 0px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}
@media only screen and (min-width: 768px) {
  #news ul {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  #news ul {
    width: 80%;
  }
}
#news ul li {
  cursor: pointer;
  list-style-type: none;
  display: grid;
  grid-template-columns: 60px auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  align-items: center;
}
#news ul li:hover {
  color: #f2accc;
}
#news ul li img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 12px;
  border: 1px solid gray;
}
#news ul li .news-details {
  margin-left: 16px;
}
#news ul li .news-details div {
  padding-bottom: 8px;
  font-family: japanese-title-font;
}
#news ul li .news-details .news-date {
  font-style: italic;
  color: gray;
}
#news ul li .news-details .new-title {
  font-size: 15px;
}
@media only screen and (min-width: 768px) {
  #news ul li .news-details .new-title {
    font-size: 10px;
  }
}

#recommends {
  margin-top: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
#recommends .recommends-contents {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 50px;
  margin-top: 16px;
  width: 80%;
}
@media only screen and (min-width: 768px) {
  #recommends .recommends-contents {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  #recommends .recommends-contents {
    width: 80%;
  }
}
#recommends .recommends-contents .recommends-left {
  width: 100%;
}
#recommends .recommends-contents .recommends-left .recommends-bar {
  margin-bottom: 50px;
}
#recommends .recommends-contents .recommends-left .recommends-bar h1 {
  margin: 0;
}
#recommends .recommends-contents .recommends-left .recommend1 {
  cursor: pointer;
  height: -moz-fit-content;
  height: fit-content;
}
#recommends .recommends-contents .recommends-left .recommend1 .recommend1-banner {
  position: relative;
  width: 100%;
  height: 200px;
}
#recommends .recommends-contents .recommends-left .recommend1 .recommend1-banner img {
  width: 100%;
  height: 100%;
}
#recommends .recommends-contents .recommends-left .recommend1 .recommend1-banner p {
  position: absolute;
  left: -40px;
  bottom: -20px;
  padding: 0 40px;
  height: 40px;
  margin: 0;
  text-align: center;
  line-height: 40px;
  background-color: #ff1493;
  color: white;
  font-size: 20px;
  font-family: japanese-title-font;
}
#recommends .recommends-contents .recommends-left .recommend1 hr {
  margin-top: 36px;
  color: black;
  width: 50%;
  margin-left: 0;
}
#recommends .recommends-contents .recommends-left .recommend1 p {
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: japanese-title-font;
  font-size: 15px;
}
#recommends .recommends-contents .recommends-right {
  margin-top: 16px;
  display: grid;
  gap: 50px;
  width: 100%;
}
#recommends .recommends-contents .recommends-right .recommend2 {
  cursor: pointer;
  grid-template-columns: 50% auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  display: grid;
}
#recommends .recommends-contents .recommends-right .recommend2 .recommend2-banner {
  height: 200px;
  width: 100%;
}
#recommends .recommends-contents .recommends-right .recommend2 .recommend2-banner img {
  width: 100%;
  height: 100%;
}
#recommends .recommends-contents .recommends-right .recommend2 .recommend2-content {
  width: 100%;
  position: relative;
}
#recommends .recommends-contents .recommends-right .recommend2 .recommend2-content .recommend2-banner-title {
  position: absolute;
  left: -66px;
  top: 20px;
  padding: 0 40px;
  height: 40px;
  margin: 0;
  text-align: center;
  line-height: 40px;
  background-color: #ff1493;
  color: white;
  font-size: 20px;
  font-family: japanese-title-font;
}
#recommends .recommends-contents .recommends-right .recommend2 .recommend2-content hr {
  margin-top: 86px;
  width: 40%;
  margin-left: 0;
}
#recommends .recommends-contents .recommends-right .recommend2 .recommend2-content p {
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: japanese-title-font;
  font-size: 15px;
}

#floors {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
#floors .floors-bar {
  width: 80%;
}
@media only screen and (min-width: 768px) {
  #floors .floors-bar {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  #floors .floors-bar {
    width: 80%;
  }
}
#floors .floors-bar h1 {
  margin: 0;
}
#floors hr {
  margin-top: 16px;
}
#floors .floors-list {
  width: 80%;
  padding: 0;
  display: grid;
  grid-template-columns: 50% auto;
  gap: 16px;
}
@media only screen and (min-width: 768px) {
  #floors .floors-list {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  #floors .floors-list {
    width: 80%;
  }
}
#floors .floors-list li {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  padding: 0px 16px;
  box-sizing: border-box;
  display: flex;
  background-color: #eeeeee;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;
  list-style-type: none;
}
#floors .floors-list li:hover {
  color: deeppink;
}
#floors .floors-list li .floors-content {
  margin-left: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
}
#floors .floors-list li .floors-content h1 {
  font-size: 20px;
  color: deeppink;
}
#floors .floors-list li .floors-content p {
  margin-left: 8px;
  font-size: 14px;
  font-family: japanese-title-font;
}
#floors .floors-list li img {
  margin-right: 16px;
  height: 80px;
  width: 80px;
}

#slider {
  width: 95%;
  margin: auto;
}
@media only screen and (min-width: 768px) {
  #slider {
    width: 95%;
  }
}
@media only screen and (min-width: 1024px) {
  #slider {
    width: 80%;
  }
}
#slider .news-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
#slider .news-bar p {
  font-family: japanese-title-font;
}
#slider .news-bar p:hover {
  color: #f2accc;
  cursor: pointer;
}
#slider .slide-item {
  margin: 16px;
}
#slider .slide-item img {
  background-color: deeppink;
  max-width: 100%;
  border-radius: 5px;
  height: 150px;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
#slider .slide-item .date {
  margin-top: 8px;
  color: #ff1493;
  font-size: 18px;
}
#slider .slide-item .description {
  margin-top: 8px;
  font-size: 18px;
  font-family: japanese-title-font;
}
@media only screen and (min-width: 768px) {
  #slider .slide-item .description {
    font-size: 13px;
  }
}
#slider .slide-item .description:hover {
  color: #ff1493;
  cursor: pointer;
}

footer {
  display: inline-block;
  margin-top: 60px;
  width: 100%;
  height: 300px;
}
footer .footer-img {
  float: left;
  width: 33.3333333333%;
  height: 100%;
  box-sizing: border-box;
}
footer .footer-img img {
  width: 100%;
  height: 100%;
}
footer .contact {
  height: 100%;
  display: flex;
  flex-direction: column;
  float: left;
  width: 33.3333333333%;
  box-sizing: border-box;
  padding: 30px 30px 0px 30px;
}
footer .contact a {
  width: -moz-fit-content;
  width: fit-content;
}
footer .contact a .contact-logo {
  height: 50px;
  margin-bottom: 4px;
}
footer .contact p {
  font-size: 13px;
  font-family: japanese-title-font;
  margin: 4px 0px;
}
footer .contact .contact-banner {
  width: 100%;
  margin: 16px 0;
  padding: 0;
  display: inline-block;
}
footer .contact .contact-banner li {
  padding-right: 16px;
  width: 33.3333333333%;
  box-sizing: border-box;
  float: left;
  list-style-type: none;
}
footer .contact .contact-banner li:hover {
  cursor: pointer;
}
footer .contact .contact-banner li img {
  width: 100%;
}
footer .contact .copyright {
  font-size: 10px;
  color: gray;
}
footer .shop-search {
  padding: 30px 30px 0px 30px;
  float: left;
  height: 100%;
  width: 33.3333333333%;
  box-sizing: border-box;
}
footer .shop-search .search-header {
  margin: 0;
  font-size: 30px;
  font-family: monospace;
  text-transform: uppercase;
  color: #ff1493;
  margin-bottom: 8px;
}
footer .shop-search .dropdown {
  width: 60%;
}
footer .shop-search .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
}
footer .shop-search .dropdown:hover .dropdown-content {
  width: 18%;
  display: block;
}
footer .shop-search .dropdown:hover .dropdown-content a {
  text-decoration: none;
  color: black;
  padding: 12px 16px;
  border-bottom: 0.2px solid;
  box-sizing: border-box;
  display: block;
  width: 100%;
}
footer .shop-search .dropdown:hover .dropdown-content a:hover {
  background-color: #ddd;
}
footer .shop-search .dropdown .dropdown-btn {
  background-color: white;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  border: none;
  border-bottom: 0.5px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px 8px 0px;
  box-sizing: border-box;
}
footer .shop-search .dropdown .dropdown-btn p {
  font-family: japanese-title-font;
  size: 13px;
  margin: 0;
}
footer .shop-search .search-bar {
  width: 100%;
  margin-top: 16px;
}
footer .shop-search .search-bar form {
  width: 100%;
}
footer .shop-search .search-bar form .type-search {
  border: none;
  outline: none;
  border-bottom: 0.5px solid;
  height: 30px;
  padding-right: 10px;
  font-family: japanese-title-font;
  width: 65%;
}
footer .shop-search .search-bar form .submit-btn {
  font-family: japanese-title-font;
  margin-left: 8px;
  background-color: deeppink;
  color: white;
  width: auto;
  padding: 0px 16px;
  box-sizing: border-box;
  height: 30px;
  font-size: 14px;
  border: none;
  border-radius: 5%;
}
footer .shop-search .search-bar form .submit-btn:hover {
  background-color: deeppink;
  opacity: 0.7;
  cursor: pointer;
}
footer .shop-search .search-bar form .submit-btn:focus {
  outline: none !important;
}
footer .shop-search .nav-links {
  margin-top: 16px;
  list-style-type: none;
  margin: 40px 0px 0px 0px;
  padding: 0;
}
footer .shop-search .nav-links li {
  display: block;
  margin-right: 16px;
  float: left;
}
footer .shop-search .nav-links li a {
  text-decoration: underline;
  font-size: 13px;
  color: black;
  font-family: japanese-title-font;
}
footer .shop-search .nav-links li a:hover {
  color: blue;
}/*# sourceMappingURL=style.css.map */