$spacing: 16px;
$small-spacing: 8px;
$pinkColor: #f2accc;
$jpFont: japanese-title-font;
$default-font-size: 15px;
$title-font-size: 25px;
$deepPink: #ff1493;

// reponsive
$XS: 480px;
$SM: 768px;
$MD: 1024px;
$XL: 1170px;

// media queries
@mixin Responsive($canvas) {
    @if $canvas == XS {
        @media only screen and (min-width: $XS) {
            @content;
        }
    } @else if $canvas == SM {
        @media only screen and (min-width: $SM) {
            @content;
        }
    } @else if $canvas == MD {
        @media only screen and (min-width: $MD) {
            @content;
        }
    } @else if $canvas == XL {
        @media only screen and (min-width: $XL) {
            @content;
        }
    }
}

//
@mixin barAttr {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

* {
    h1 {
        font-family: $jpFont;
        color: $pinkColor;
        font-weight: bold;
        font-size: $title-font-size;
        user-select: none;
    }
    p,
    p1,
    p2 {
        user-select: none;
        font-size: $default-font-size;
    }
    hr {
        width: 100%;
        background-color: gray;
        height: 0.3px;
        border: none;
    }
}
#scroll-to-top{
    position: fixed;
    bottom: 100px;
    right: 16px;
    z-index: 999;
    width: 32px;
    height: 32px;   
    border-radius: 50%;
    cursor: pointer;
    background-color: #fc3d9f ;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        display: inline-block;
        color: white;
    }
}
body {

    min-width: 768px;
    background-color: white;
    height: 100%;
}
body.show-menu {
    & .header-menu {
        display: block;
    }
    & .banner-right {
        & .logo-menu {
            .menu {
                background-image: url(images/x-mark.png);
                background-repeat: no-repeat;
                background-color: white;

            }
        }
        & .show-img{
            display: none;
        }
        & .ads{
            display: none;
        }
        & .header-menu{
            & .main-menu{
                & .main-menu-title{
                    span{
                        font-size: 25px;
                        color: $deepPink;
                    }
                }
            }
        }
    }
}
@font-face {
    font-family: japanese-title-font;
    src: url(/fonts/tittle_font/ShipporiMincho-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}
header {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 572px;
    & .banner-left {
        float: left;
        width: calc(100% - 350px);
        height: auto;
        img {
            border-radius: 2%;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    & .banner-right {
        position: relative;
        width: 350px;
        height: auto;
        float: left;
        & .logo-menu {
            height: 40px;
            display: flex;
            padding: 0px $spacing;
            justify-content: space-between;
            & .logo {
                height: 35px;
            }
            & .menu {
                cursor: pointer;
                height: 35px;
                width: 32px;
                background-repeat: no-repeat;
                background-image: url(images/menu_logo.png);
            }
        }
        & .show-img {
            position: relative;
            left: -30%;
            margin-top: $spacing;
            width: calc(130%);
            img {
                margin: 0px;
                height: 250px;
                width: 100%;
                object-fit: cover;
            }
        }
        & .ads {
            height: calc(100% - 310px);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            & .content {
                float: left;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: fit-content;
                width: 95%;
                & .title {
                    color: $pinkColor;
                    font-family: $jpFont;
                    font-size: 40px;
                    text-align: center;
                }
                & .description {
                    font-family: $jpFont;
                    font-size: $default-font-size;
                    font-style: italic;
                }
            }
            & .nav-button {
                float: left;
                margin: 0;
                padding: 0;

                li {
                    font-weight: bold;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    list-style-type: none;
                    width: 40px;
                    height: 35px;
                    margin-top: 10px;
                    border-right: 3px solid white;
                    user-select: none;
                    &:hover {
                        cursor: pointer;
                        background-color: whitesmoke;
                        color: red;
                    }
                }
                & .active {
                    cursor: pointer;
                    border-right: 3px solid red;
                    background-color: whitesmoke;
                    color: red;
                }
            }
        }
    }
    & .header-menu {
        display: none;
        position: absolute;
        text-align: center;
        right: 0;
        top: 35px;
        height: 100%;
        width: 350px;
        background: white;
        & .main-menu{
            position: absolute;
            top: 30%;
            left: 32px;
            text-align: left;
            transform: translateY(-50%);
            & .main-menu-title{
                font-size: 13px;
                opacity: 0.7;
                & .title-lar{
                    color: #f2accc;
                    font-weight: bold;
                    font-size: 18px;
                }
            }
            
           }
        & .sub-menu{
            position: absolute;
            left: 32px;
            bottom: 15%;
            text-align: left;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 8px;
            grid-row-gap: 8px;
            & div{
                color: #f2accc;
                font-size: 13px;
            }
        }
    }
}
main {
    padding: 16px;
}
#news {
    @include barAttr();
    & .news-bar {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        @include Responsive(SM) {
            width: 100%;
        }
        @include Responsive(MD) {
            width: 80%;
        }
        p {
            font-family: $jpFont;
            &:hover {
                color: $pinkColor;
                cursor: pointer;
            }
        }
    }

    ul {
        padding: 0;
        margin: $small-spacing 0px 0px 0px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 16px;

        @include Responsive(SM) {
            width: 100%;
        }
        @include Responsive(MD) {
            width: 80%;
        }
        li {
            cursor: pointer;
            list-style-type: none;
            display: grid;
            grid-template-columns: 60px auto;
            grid-column-gap: 16px;
            grid-row-gap: 16px;
            align-items: center;

            &:hover {
                color: $pinkColor;
            }
            img {
                height: 60px;
                width: 60px;
                border-radius: 50%;
                padding: 12px;
                border: 1px solid gray;
            }
            & .news-details {
                margin-left: $spacing;
                div {
                    padding-bottom: $small-spacing;
                    font-family: $jpFont;
                }
                & .news-date {
                    font-style: italic;
                    color: gray;
                }
                & .new-title {
                    font-size: 15px;
                    @include Responsive(SM) {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}
#recommends {
    margin-top: $spacing;
    @include barAttr();
    & .recommends-contents {
        display: grid;
        grid-template-columns: 30% 70%;
        gap: 50px;
        margin-top: $spacing;
        width: 100%;
        @include Responsive(SM) {
            width: 100%;
        }
        @include Responsive(MD) {
            width: 80%;
        }
        & .recommends-left {
            width: 100%;
            & .recommends-bar {
                margin-bottom: 50px;
                h1 {
                    margin: 0;
                }
            }
            & .recommend1 {
                cursor: pointer;
                height: fit-content;
                & .recommend1-banner {
                    position: relative;
                    width: 100%;
                    height: 200px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    p {
                        position: absolute;
                        left: -40px;
                        bottom: -20px;
                        padding: 0 40px;
                        height: 40px;
                        margin: 0;
                        text-align: center;
                        line-height: 40px;
                        background-color: $deepPink;
                        color: white;
                        font-size: 20px;
                        font-family: $jpFont;
                    }
                }
                hr {
                    margin-top: 36px;
                    color: black;
                    width: 50%;
                    margin-left: 0;
                }
                p {
                    margin: 0;
                    width: fit-content;
                    height: fit-content;
                    font-family: $jpFont;
                    font-size: $default-font-size;
                }
            }
        }
        & .recommends-right {
            margin-top: $spacing;
            display: grid;
            gap: 50px;
            width: 100%;
            & .recommend2 {
                cursor: pointer;
                grid-template-columns: 50% auto;
                grid-column-gap: 16px;
                grid-row-gap: 16px;
                display: grid;
                & .recommend2-banner {
                    height: 200px;
                    width: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                & .recommend2-content {
                    width: 100%;
                    position: relative;
                    & .recommend2-banner-title {
                        position: absolute;
                        left: -66px;
                        top: 20px;
                        padding: 0 40px;
                        height: 40px;
                        margin: 0;
                        text-align: center;
                        line-height: 40px;
                        background-color: $deepPink;
                        color: white;
                        font-size: 20px;
                        font-family: $jpFont;
                    }
                    hr {
                        margin-top: 86px;
                        width: 40%;
                        margin-left: 0;
                    }
                    p {
                        margin: 0;
                        width: fit-content;
                        height: fit-content;
                        font-family: $jpFont;
                        font-size: $default-font-size;
                    }
                }
            }
        }
    }
}
#floors {
    @include barAttr();
    & .floors-bar {
        width: 100%;
        @include Responsive(SM) {
            width: 100%;
        }
        @include Responsive(MD) {
            width: 80%;
        }
        h1 {
            margin: 0;
        }
    }
    hr {
        margin-top: $spacing;
    }
    & .floors-list {
        width: 100%;
        @include Responsive(SM) {
            width: 100%;
        }
        @include Responsive(MD) {
            width: 80%;
        }
        padding: 0;
        display: grid;
        grid-template-columns: 50% auto;
        gap: 16px;
        li {
            user-select: none;
            cursor: pointer;
            padding: 0px 16px;
            box-sizing: border-box;
            display: flex;
            background-color: #eeeeee;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 120px;
            list-style-type: none;
            &:hover {
                color: deeppink;
            }
            & .floors-content {
                margin-left: $spacing;
                display: flex;
                flex-direction: row;
                align-items: center;
                vertical-align: middle;
                h1 {
                    font-size: 20px;
                    color: deeppink;
                }
                p {
                    margin-left: $small-spacing;
                    font-size: 14px;
                    font-family: $jpFont;
                }
            }
            img {
                margin-right: $spacing;
                height: 80px;
                width: 80px;
            }
        }
    }
}
#slider {
    width: 95%;
    margin: auto;
    @include Responsive(SM) {
        width: 95%;
    }
    @include Responsive(MD) {
        width: 80%;
    }
    & .news-bar {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;

        p {
            font-family: $jpFont;
            &:hover {
                color: $pinkColor;
                cursor: pointer;
            }
        }
    }
    .slide-item {
        overflow: hidden;
        margin: 16px;
        & img {
            background-color: deeppink;
            border-radius: 5px;
            height: 150px;
            width: 100%;
            object-fit: fill;
            transition: 0.5s all ease-in;
            overflow: hidden;
            &:hover{
                cursor: pointer;
                transform: scale(1.3);
            }
        }
        & .date {
            margin-top: 8px;
            color: $deepPink;
            font-size: 18px;
        }
        & .description {
            @include Responsive(SM) {
                font-size: 13px;
            }
            margin-top: 8px;
            font-size: 18px;
            font-family: $jpFont;
            &:hover {
                color: $deepPink;
                cursor: pointer;
            }
        }
    }
}
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    height: 300px;
    & .footer-img {
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    & .contact {
        a {
            width: fit-content;
            & .contact-logo {
                height: 50px;
                margin-bottom: 4px;
            }
        }
        p {
            font-size: 13px;
            font-family: $jpFont;
            margin: 4px 0px;
        }
        & .contact-banner {
            width: 100%;
            margin: $spacing 0;
            padding: 0;
            display: inline-block;
            li {
                &:hover {
                    cursor: pointer;
                }
                padding-right: 16px;
                width: calc(100% / 3);
                box-sizing: border-box;
                float: left;
                list-style-type: none;
                img {
                    width: 100%;
                }
            }
        }
        & .copyright {
            font-size: 10px;
            color: gray;
        }
    }
    & .shop-search {

        & .search-header {
            margin: 0;
            font-size: 30px;
            font-family: monospace;
            text-transform: uppercase;
            color: $deepPink;
            margin-bottom: 8px;
        }
        & .dropdown {
            width: 60%;
            & .dropdown-content {
                display: none;
                position: absolute;
                background-color: white;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
                border-bottom-left-radius: 5%;
                border-bottom-right-radius: 5%;
                border-top-right-radius: 5%;
            }
            &:hover {
                & .dropdown-content {
                    width: 18%;
                    display: block;
                    a {
                        text-decoration: none;
                        color: black;
                        padding: 12px 16px;
                        border-bottom: 0.2px solid;
                        box-sizing: border-box;
                        display: block;
                        width: 100%;
                        &:hover {
                            background-color: #ddd;
                        }
                    }
                }
            }
            & .dropdown-btn {
                background-color: white;
                height: fit-content;
                width: 100%;
                border: none;
                border-bottom: 0.5px solid;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 8px 16px 8px 0px;
                box-sizing: border-box;
                p {
                    font-family: $jpFont;
                    size: 13px;
                    margin: 0;
                }
            }
        }
        & .search-bar {
            margin-top: 16px;
            form {
                & .type-search {
                    border: none;
                    outline: none;
                    border-bottom: 0.5px solid;
                    height: 30px;
                    padding-right: 10px;
                    font-family: $jpFont;
                    width: calc(100% - (32px + 80px + 8px));
                }
                & .submit-btn {
                    width: 80px;
                    font-family: $jpFont;
                    margin-left: 8px;
                    background-color: deeppink;
                    color: white;
                    padding: 0px 16px;
                    box-sizing: border-box;
                    height: 30px;
                    font-size: 14px;
                    border: none;
                    border-radius: 5%;
                    &:hover {
                        background-color: deeppink;
                        opacity: 0.7;
                        cursor: pointer;
                    }
                    &:focus {
                        outline: none !important;
                    }
                }
            }
        }
        & .nav-links {
            margin-top: $spacing * 2;
            list-style-type: none;
            padding: 0;
            li {
                display: block;
                margin-right: 16px;
                float: left;
                a {
                    text-decoration: underline;
                    font-size: 13px;
                    color: black;
                    font-family: $jpFont;
                    &:hover {
                        color: blue;
                    }
                }
            }
        }
    }
}
