@font-face {
  font-family: japanese-title-font;
  src: url(/fonts/tittle_font/ShipporiMincho-Medium.ttf);
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: white;
}
header {
  display: inline-block;
  width: 100%;
}
header .banner-left {
  float: left;
  width: calc(100% / 3 * 2);
}
header .banner-left img {
  border-radius: 2%;
  width: 100%;
}
header .banner-right {
  width: calc(100% / 3);
  float: left;
}
header .logo-menu {
  display: flex;
  padding: 0px 16px;
  justify-content: space-between;
}
header .logo {
  height: 35px;
}
header .menu {
  height: 24px;
}
header .show-img {
  margin-top: 16px;
}
header .show-img img {
  padding: 0px 8px 0px 8px;
  height: 300px;
  width: 100%;
  border-radius: 3%;
}
header .ads {
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;

  width: 95%;
}
header .title p {
  color: #f2accc;
  font-family: japanese-title-font;
  font-size: 40px;
  text-align: center;
}
header .title p2 {
  font-family: japanese-title-font;
  font-size: 15px;
  font-style: italic;
}
header .nav-button {
  margin: 0;
  padding: 0;
}
header .nav-button li {
    font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: 40px;
  height: 35px;
  margin-top: 10px;
  border-right: 3px solid white;
}
header .nav-button li:hover {
  border-right: 3px solid red;
  background-color: whitesmoke;
  color: red;
}
