$spacing: 16px;
$small-spacing: 8px;
$pinkColor: #f2accc;
$jpFont: japanese-title-font;
$default-font-size: 15px;
$title-font-size: 25px;
$deepPink: #ff1493;
@mixin barAttr {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

* {
    h1 {
        font-family: $jpFont;
        color: $pinkColor;
        font-weight: bold;
        font-size: $title-font-size;
        user-select: none;
    }
    p,
    p1,
    p2 {
        user-select: none;
        font-size: $default-font-size;
    }
    hr {
        width: 100%;
        background-color: gray;
        height: 0.3px;
        border: none;
    }
}
body {
    background-color: white;
    height: 100%;
}
@font-face {
    font-family: japanese-title-font;
    src: url(/fonts/tittle_font/ShipporiMincho-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}
header {
    display: flex;
    width: 100%;
    height: fit-content;
    & .banner-left {
        float: left;
        width: calc(100% / 3 * 2);
        height: auto;
        img {
            display: flexbox;
            border-radius: 2%;
            width: 100%;
            height: fit-content;
        }
    }
    & .banner-right {
        width: calc(100% / 3);
        height: fit-content;
        float: left;
        & .logo-menu {
            display: flex;
            padding: 0px $spacing;
            justify-content: space-between;
            & .logo {
                height: 35px;
            }
            & .menu {
                cursor: pointer;
                height: 24px;
            }
        }
        & .show-img {
            margin-top: $spacing;
            img {
                margin: 0px;
                height: 300px;
                width: 100%;
                border-radius: 3%;
            }
        }
        & .ads {
            height: 300px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            & .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 95%;
                & .title {
                    color: $pinkColor;
                    font-family: $jpFont;
                    font-size: 40px;
                    text-align: center;
                }
                & .description {
                    font-family: $jpFont;
                    font-size: $default-font-size;
                    font-style: italic;
                }
            }
            & .nav-button {
                margin: 0;
                padding: 0;

                li {
                    font-weight: bold;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    list-style-type: none;
                    width: 40px;
                    height: 35px;
                    margin-top: 10px;
                    border-right: 3px solid white;
                    user-select: none;
                    &:hover {
                        cursor: pointer;
                        background-color: whitesmoke;
                        color: red;
                    }
                }
                & .active {
                    cursor: pointer;
                    border-right: 3px solid red;
                    background-color: whitesmoke;
                    color: red;
                }
            }
        }
    }
}
#news {
    @include barAttr();
    & .news-bar {
        width: 70%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        p {
            font-family: $jpFont;
            &:hover {
                color: $pinkColor;
                cursor: pointer;
            }
        }
    }
    ul {
        padding: 0;
        margin: $small-spacing 0px 0px 0px;
        width: 70%;
        display: inline-block;
        justify-content: space-between;
        li {
            cursor: pointer;
            list-style-type: none;
            height: 100px;
            width: calc(100% / 3);
            float: left;
            display: grid;
            grid-template-columns: 60px auto;
            grid-column-gap: 16px;
            grid-row-gap: 16px;
            align-items: center;

            &:hover {
                color: $pinkColor;
            }
            img {
                height: 60px;
                width: 60px;
                border-radius: 50%;
                padding: 12px;
                border: 1px solid gray;
            }
            & .news-details {
                margin-left: $spacing;
                div {
                    padding-bottom: $small-spacing;
                    font-family: $jpFont;
                }
                & .news-date {
                    font-style: italic;
                    color: gray;
                }
            }
        }
    }
}
#recommends {
    margin-top: $spacing;
    @include barAttr();
    & .recommends-contents {
        display: grid;
        grid-template-columns: 30% 70%;
        gap: 50px;

        margin-top: $spacing;
        width: 70%;
        & .recommends-left {
            width: 100%;
            & .recommends-bar {
                margin-bottom: 50px;
                h1 {
                    margin: 0;
                }
            }
            & .recommend1 {
                cursor: pointer;
                height: fit-content;
                & .recommend1-banner {
                    position: relative;
                    width: 100%;
                    height: 200px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    p {
                        position: absolute;
                        left: -40px;
                        bottom: -20px;
                        padding: 0 40px;
                        height: 40px;
                        margin: 0;
                        text-align: center;
                        line-height: 40px;
                        background-color: $deepPink;
                        color: white;
                        font-size: 20px;
                        font-family: $jpFont;
                    }
                }
                hr {
                    margin-top: 36px;
                    color: black;
                    width: 50%;
                    margin-left: 0;
                }
                p {
                    margin: 0;
                    width: fit-content;
                    height: fit-content;
                    font-family: $jpFont;
                    font-size: $default-font-size;
                }
            }
        }
        & .recommends-right {
            margin-top: $spacing;
            display: grid;
            gap: 50px;
            width: 100%;
            & .recommend2 {
                cursor: pointer;
                grid-template-columns: 50% auto;
                grid-column-gap: 16px;
                grid-row-gap: 16px;
                display: grid;
                & .recommend2-banner {
                    height: 200px;
                    width: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                & .recommend2-content {
                    width: 100%;
                    margin-left: $spacing;
                    position: relative;
                    & .recommend2-banner-title {
                        position: absolute;
                        left: -66px;
                        top: 20px;
                        padding: 0 40px;
                        height: 40px;
                        margin: 0;
                        text-align: center;
                        line-height: 40px;
                        background-color: $deepPink;
                        color: white;
                        font-size: 20px;
                        font-family: $jpFont;
                    }
                    hr {
                        margin-top: 86px;
                        width: 40%;
                        margin-left: 0;
                    }
                    p {
                        margin: 0;
                        width: fit-content;
                        height: fit-content;
                        font-family: $jpFont;
                        font-size: $default-font-size;
                    }
                }
            }
        }
    }
}
#floors {
    @include barAttr();
    & .floors-bar {
        width: 70%;
        h1 {
            margin: 0;
        }
    }
    hr {
        margin-top: $spacing;
    }
    & .floors-list {
        width: 70%;
        padding: 0;
        display: grid;
        grid-template-columns: 50% auto;
        gap: 16px;
        li {
            user-select: none;
            cursor: pointer;
            padding: 0px 16px;
            box-sizing: border-box;
            display: flex;
            background-color: #eeeeee;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 120px;
            list-style-type: none;
            &:hover {
                color: deeppink;
            }
            & .floors-content {
                margin-left: $spacing;
                display: flex;
                flex-direction: row;
                align-items: center;
                vertical-align: middle;
                h1 {
                    font-size: 20px;
                    color: deeppink;
                }
                p {
                    margin-left: $small-spacing;
                    font-size: 14px;
                    font-family: $jpFont;
                }
            }
            img {
                margin-right: $spacing;
                height: 80px;
                width: 80px;
            }
        }
    }
}
footer{
    display: inline-block;
    margin-top: 60px;
    border: solid;
    width: 100%;
    height: 300px;
    & .footer-img{
        float: left;
        width: 30%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            
        }
    }
    & .contact{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        float: left;
        width: 30%;
        box-sizing: border-box;
        padding: 0px 30px;
        & .contact-logo{
            height: 50px;
            margin-bottom: $spacing;
        }
        p{
            font-size: 13px;
            font-family: $jpFont;
            margin: 4px 0px;
        }
        & .contact-banner{
            width: 100%;
            margin: $spacing 0;
            padding: 0;
            display: inline-block;
            li{
                padding-right: 16px;
                width: calc(100%/3);
                box-sizing: border-box;
                float: left;
                list-style-type: none;
                img{
                    width: 100%;
                }
            }
        }
        & .copyright{
            font-size: 10px;
            color: gray;
        }
    }
}
